footer {
    background-color: var(--dark-violet);
    display: flex;
    justify-content: center;
}

footer #footer-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

footer #footer-container h1 {
    font-size: 2rem;
    color: #fff;
}

footer #footer-container #footer-right {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer #footer-container #footer-right #footer-media {
    display: flex;
    flex-wrap: nowrap;
}

footer #footer-container #footer-right #footer-media img {
    height: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    footer #footer-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    footer #footer-container h1,
    footer #footer-container #footer-right {
        width: 100%;
        justify-content: center;
    }

    footer #footer-container h1 {
        text-align: center;
        margin-bottom: 2rem;
    }

    footer #footer-container #footer-right {
        grid-template-columns: minmax(250px, 375px);
        grid-gap: 2rem;
    }

    footer #footer-container #footer-right #footer-media {
        width: 100%;
        justify-content: center;
    }
}