:root {
    --cyan: hsl(180, 66%, 49%);
    --violet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --grey: hsl(0, 0%, 75%);
    --greyish-violet: hsl(257, 7%, 63%);
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: hsl(260, 8%, 14%);
    --font-family: 'Poppins', sans-serif;
    --font-size: 18px;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  nav,
  section,
  footer {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
  }
  
  p {
    color: var(--grey);
  }
  
  ::placeholder {
    color: var(--grey);
  }
  
  /* Utility Classes */
  
  .similar-containers {
    width: 80%;
  }
  
  .event-links {
    background-color: var(--cyan) !important;
    color: #fff !important;
    border-radius: 50px;
  }

  .event-links:hover {
    opacity: 0.5;
}